<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Display Customers PlayList</title>
</head>
<body>
	<table border="1">
		<thead>
			<tr>
				<th>PlayList Id</th>
				<th>PlayList Name</th>
				<th>PlayList Songs</th>

			</tr>
		</thead>
		<tbody>
			<tr th:each="pl:${plist}">
				<td th:text=${pl.id}></td>
				<td th:text=${pl.name}></td>
				<td>
					<ul>
						<li th:each="s:${pl.songs}">
						<span th:text="${s.name}"></span>
							<audio controls>
								<source th:src="${s.link}" type="audio/mpeg" />
							</audio>
						</li>

					</ul>

				</td>

			</tr>
			
		</tbody>
		
	</table>

</body>
</html>